
/*
************
*************************
20. Services
******************************************************* 
*************************************************************** */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../components/animation' as *;


.subnet-services-1 {
    &-area {
        @media #{$xxl,$xl,$lg} {
            overflow: hidden;        
        }
    }
    &-section-title-wrap {
        .subnet-section-title-1 {
            color: var(--clr-common-white);
            margin-bottom: 17px;
            br {
                @media #{$xs, $sm, $md} {
                    display: none;
                }   
            }
        }
        .section-title-p {
            font-size: 16px;
            line-height: 26px;
            color: var(--clr-common-white);
            opacity: .7;
            margin-bottom: 0;
            br {
                @media #{$lg} {
                    display: none;
                }
            }
        }
        .subnet-subtitle {
            .content.blue-style span {
                background-color: #234AD6;
            }
        }
    }
    &-left {
        @media #{$md,$xs} {
            margin-bottom: 50px;
        }
    }
    &-right {
        position: relative;
    }
    &-img-wrap {
        width: 814px;
        position: absolute;
        left: -45px;
        top: 40px;
        @media #{$xl} {
            top: 34px;     
        }
        @media #{$lg} {
            top: 33px;
        }
        @media #{$md,$xs} {
            width: 100%;
            position: unset;   
        }
        & > img {
            position: relative;
            z-index: 3;
        }
    }
}

// ------------- serviecs-feature-1 ----------------

.subnet-services-feature-1 {
    &-area {
        margin-top: -95px;
        @media #{$md,$xs} {
            margin-top: -200px;
        }
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        @media #{$xs} {
            justify-content: center;
        }
        @media #{$sm} {
            justify-content: start;
        }
    }
    &-item {
        width: 190px;
        height: 180px;
        background: var(--clr-common-white);
        box-shadow: 0px 10px 10px rgb(8 8 33 / 10%);
        border-radius: 6px;
        position: relative;
        z-index: 3;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 5px;
        @include transition(.3s);
        &:not(:last-child){
            margin-right: 5px;
        }
        @media #{$lg} {
            width: 150px;
        }
        @media #{$md} {
            width: 165px;
        }
        @media #{$xs} {
            width: 140px;
        }
        @media #{$sm} {
            width: 165px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--clr-theme-primary);
            top: 0;
            left: 0;
            transform: scaleX(0);
            opacity: 0;
            @include transition(.3s);
        }
        &:nth-child(even) {
            &::after {
                transform-origin: left ;
            }
        }
        &:nth-child(odd) {
            &::after {
                transform-origin: right ;
            }
        }
        &:hover {
            transform: translateY(-15px);
            &::after {
                opacity: 1;
                transform: scaleX(1);
            }
            .content {
                a {
                    color: var(--clr-common-white);
                }
            }
            .icon {
                svg path {
                    fill: var(--clr-common-white);
                }
            }
            .item-bg-shape {
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }
        .item-bg-shape {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(.5s);
        }
        .icon {
            position: relative;
            z-index: 1;
            svg path {
                fill: var(--clr-theme-primary);
            }
        }
        .content {
            position: relative;
            z-index: 1;
            > * {
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
                a {
                    text-decoration: none; 
                    &:hover {
                        color: var(--clr-common-white);
                    }
                }
            }
        }
    }
}

// ------------- home 2 -------------------

.services-2-has-bg-color {
    position: relative;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(66.44deg, #EEE7FD 0%, #E4E8D8 100%);
        z-index: -1;
    }
}

.subnet-services-2 {
    &-title-wrap {
        .subnet-title-2 {
            margin-bottom: 0;
        }
    }
    &-btn {
        display: flex;
        justify-content: end;
        align-items: end;
        height: 100%;
        padding-bottom: 12px;
        @media #{$xs} {
            justify-content: start;
            padding-bottom: 0px;
            padding-top: 30px;
        }
    }
    &-card {
        width: 100%;
        min-height: 320px;
        background-color: var(--clr-common-white);
        box-shadow: 0px 30px 60px rgba(8, 8, 33, 0.1);
        border-radius: 10px;
        position: relative;
        padding: 40px 34px;
        margin-bottom: 55px;
        @media #{$sm} {
            min-height: 300px;
            padding: 30px 18px;
        }
        &:hover {
            .bg-img {
                opacity: 1;
                visibility: visible;
                top: -3px;
                left: -3px;
            }
            &::after {
                opacity: 1;
                transform: scaleX(1);
                visibility: visible;
            }
            .title {
                color: var(--clr-common-white);
            }
            p {
                color: var(--clr-common-white);
            }
            .btn-wrap a {
                background-color: var(--clr-common-white);
                color: var(--clr-body-heading);
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--clr-theme-primary);
            top: 0;
            left: 0;
            border-radius: 10px;
            transform: scaleX(0);
            transform-origin: left;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);
        }
        .bg-img {
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);
        }
        .icon {
            display: block;
            width: 70px;
            height: 70px;
            text-align: center;
            line-height: 70px;
            background-color: var(--clr-common-white);
            box-shadow: 0px 10px 50px rgba(8, 8, 33, 0.1);
            border-radius: 44px;
            z-index: 1;
            position: relative;
            margin-bottom: 28px;
        }
        .title {
            font-size: 24px;
            font-weight: 700;
            z-index: 1;
            position: relative;
            margin-bottom: 17px;
            @include transition(.3s);
        }
        p {
            opacity: .6;
            z-index: 1;
            position: relative;
            @include transition(.3s);
        }
        & .btn-wrap {
            position: absolute;
            right: 35px;
            bottom: -25px;
            z-index: 1;
            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                background-color: var(--clr-body-heading);
                border-radius: 50%;
                color: var(--clr-common-white);
                font-weight: 700;
                &:hover {
                    color: var(--clr-common-white);
                    background-color: var(--clr-theme-secondary);
                }
            }
        }
    }
        
}

// ------------- services-details-page ---------------

.subnet-services-details-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.17;
    color: var(--clr-body-heading);
    margin-bottom: 12px;
    @media #{$md} {
        font-size: 36px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 34px;
    }
}

.subnet-services-details {
    &-left {
        &:is(.pr-80) {
            @media #{$md,$xs} {
                padding-right: 0;
            }
        }
    }
    &-img {
        width: 100%;
        height: 470px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 33px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-content {
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: var(--clr-body-text);
            opacity: .6;
        }
    }
    &-feature {
        .title {
            font-size: 24px;
            font-weight: 700;
            color: var(--clr-body-heading);
            line-height: 1.20;
            margin-bottom: 12px;
        }
        .subnet-services-feature-1-wrap {
            .subnet-services-feature-1-item {
                margin-bottom: 30px;
                &:not(:last-child) {
                    margin-right: 30px;
                    @media #{$xs} {
                        margin-right: 5px;
                    }
                }
            }
        }

    }
    &-inner-img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-inner-video {
        position: relative;
        &:is(.pl-30) {
            @media #{$xs} {
                padding-left: 0;
            }
        }
        .img {
            width: 100%;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .btn-wrap {
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translate(-50%, -50%);
            @media #{$xs} {
                left: 50%;
            }
        }
    }
    
}

.subnet-sidebar-wrap {
    &:is(.margin-left-10) {
        @media #{$md,$xs} {
            margin-left: 0;
        }
    }
}
.subnet-glob-shape-animated-1 {
    &.has-pos {
        position: absolute;
        top: 0;
        right: 16px;
        & img {
            animation-name: unlimitedRound;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}
.subnet-services-feature-1-item.hr-subnet-feature-1-box {
    & .content {
        & h6 a {
            &:hover {
                color: var(--clr-common-white);
            }
        }
    }
}

.subnet-services-details-left.pr-80 {
    @media #{$xl} {
        padding-right: 60px;
    }
    @media #{$lg} {
        padding-right: 50px;
    }
}